{% extends 'base.html.twig' %}

{% block title %}Histoire{% endblock %}

{% block body %}

    <article class="content">

        <div class="content__title-container">
            <h1 class="content__title">Un peu <span class="content--color break">d'histoire</span></h1>
        </div>

        <div class="content__paragraph content__paragraph--spacing">
            <p>C’est Hippocrate (médecin grec né sur l’Île de Cos / mort à Larissa - 460-370 avant JC - Père
                fondateur de la médecine occidentale) qui a établis les 5principes de la naturopathie :</p>
        </div>

        <div class="content--center">
            <p>« Primum non nocere » = En premier lieu ne pas nuire</p>
        </div>
        <div class="content--center">
            <p>« Vis medicatrix naturae » = La nature est guérisseuse</p>
        </div>
        <div class="content--center">
            <p>« Tolle causam » = Identifier et traiter la cause</p>
        </div>
        <div class="content--center">
            <p>« Diende purgare» = Détoxifier et purifier l’organisme</p>
        </div>
        <div class="content--center">
            <p>« Docere » = La naturopathie enseigne</p>
        </div>

        <div class="img__container img__container-history">
            <img class="img__content img__content-history" src="img/hippocrate.jpg"
                alt="Portrait Hippocrate de Cos">
        </div>

        <section class="section">
            <p class="content__paragraph--spacing">En France, Pierre-Valentin Marchesseau (1911-1994) est considéré
                comme le « père de la naturopathie » pour avoir importé et traduit les techniques en 1935. En 1973,
                il créé l’Institut d’Hygiène Vitale à Paris. Il formera de grands noms de la naturopathie.</p>

            <div class="img__container img__container-history">
                <img class="img__content img__content-history" src="img/marchesseau.jpg"
                    alt="Portrait Pierre-Valentin Marchesseau">
            </div>

            <p class="content__paragraph--spacing">En 1997 la naturopathie a été reconnue par le Parlement Européen
                comme médecine non conventionnelle.</p>
            <p class="content__paragraph--spacing">L’OMS – Organisation Mondiale de la Santé – l’a reconnue en 2001
                comme 3 ème médecine traditionnelle mondiale, après les médecines chinoise et ayurvédique</p>
            <p class="content__paragraph--spacing">La définition de l’OMS est : « la naturopathie est un ensemble de
                méthodes de soins visant à renforcer les défenses de l’organisme par des moyens considérés comme
                naturels et biologiques »</p>
            <p class="content__paragraph--spacing">Le naturopathe, contrairement au médecin, va rechercher la cause
                du
                dérèglement et va se servir de techniques naturelles pour y parvenir, comme le réglage alimentaire,
                l’activité physique, la relaxation, la gestion du stress ...</p>
        </section>

    </article>
   
{% endblock %}
