{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block index %}active{% endblock %}

{% block body %}

    <article class="content">

        <div class="content__title-container">
            <h1 class="content__title">Qu'est ce que la <span class="content--color break">naturopathie</span> ?
            </h1>
        </div>

        <div class="content__paragraph">
            <p class="content__paragraph--spacing">C’est un allemand John H. Scheel qui en 1895 est à l’origine du
                mot «naturopathie» qui vient de deux mots anglais «nature» et «path».</p>
            <div class="content--center">
                <p class="content__paragraph--spacing">La naturopathie se traduit par le « chemin de la nature ».
                </p>
            </div>
            <p class="content--upper content__paragraph--spacing">« La naturopathie est l'art d'aider les personnes
                à conserver, trouver ou retrouver leur santé et leur bien être, de façon et par des moyens naturels»
            </p>
        </div>

        <p>Elle repose sur 3 grands piliers que sont :</p>
        <div class="flex__container">
            <div class="content__list">
                <div class="content__list-element-container">
                    <span class="content__list-element ">une alimentation saine, vivante, équilibrée</span>
                </div>
                <div class="content__list-element-container">
                    <span class="content__list-element">la gestion du stress et des émotions</span>
                </div>
                <div class="content__list-element-container">
                    <span class="content__list-element">la gestion des mouvements et respiration</span>
                </div>
            </div>
            <div class="img__flex-container">
                <div class="img__container">
                    <img class="img__content" src="img/alimentation.jpg" alt="alimentation">
                </div>
                <div class="img__container">
                    <img class="img__content" src="img/stress.jpg" alt="stress">
                </div>
                <div class="img__container">
                    <img class="img__content" src="img/respiration.jpg" alt="respiration">
                </div>
            </div>
        </div>

    </article>

{% endblock %}
