{% extends 'base.html.twig' %}

{% block title %}La séance{% endblock %}

{% block seance %}active{% endblock %}

{% block body %}

    <article class="content">

        <div class="content__title-container">
            <h1 class="content__title">La <span class="content--color break">séance</span> </h1>
        </div>


    </article>

{% endblock %}
