{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Bienvenue dans votre back office' %}

{% block page_content %}
   <div class="container">
        <div class="row">
            {% for category in allCategory %}
                {% if loop.index== 1 %}
                <div class="col-4 alert-success">
                {% elseif loop.index == 2 %}
                <div class="col-4 alert-primary">
                {% elseif loop.index == 3 %}
                <div class="col-4 alert-warning">   
                {% endif %}
                    <div class="h1">{{ category.catName }} </div>
                    <div class="display-3">{{ category.posts | length }} Articles </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}



