{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Welcome to EasyAdmin 3' %}

{% block page_content %}
   <div class="container">
        <div class="row">
            <div class="col-4 alert-success">
                ezzfr
            </div>
            <div class="col-4 alert-primary">
                fefz
            </div>
            <div class="col-4 alert-warning">
                defef
            </div>
        </div>
   </div>
{% endblock %}
