{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block blog %}active{% endblock %}

{% block body %}

    <div class="content__title-container">
        <h1 class="content__title blog-title">Le <span class="content--color break">blog</span> </h1>
    </div>

    <section class="category__section">
        <div class="category__container">
            <div class="category__all">
                <div class="category__side left-side">
                    <div class="category__media">
                        <a href="category.html">
                            <img src="img/alimentation.jpg" alt="alimentation" class="category__img">
                            <span class="category__name">catégorie 1</span>
                        </a>
                    </div>
                </div>
                <div class="category__side center-side">
                    <div class="category__media">
                        <a href="category.html">
                            <img src="img/alimentation.jpg" alt="alimentation" class="category__img">
                            <span class="category__name">catégorie 2</span>
                        </a>
                    </div>
                </div>
                <div class="category__side rigth-side">
                    <div class="category__media">
                        <a href="category.html">
                            <img src="img/alimentation.jpg" alt="alimentation" class="category__img">
                            <span class="category__name">catégorie 3</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <article class="content">

        <section>
            <div class="preview__container">
                <div class="preview__img">
                    <a href="post.html"><img class="img__content" src="img/alimentation.jpg" alt="plat sain"></a>
                </div>
                <span class="category__indicator"><a class="category__link" href="category.html">categorie</a></span>
                <h4 class="article__title"><a href="post.html">Titre de l'article</a></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam possimus amet
                        eveniet adipisci
                        suscipit aliquid velit, fuga cum sequi eligendi. Voluptatibus ab sed dolores magni, ratione
                        voluptate blanditiis dolorum sunt!
                        Quas adipisci animi eaque temporibus nisi ex aut ipsam doloribus necessitatibus, id tempora
                        illo
                        rerum nesciunt facilis corrupti...</p>
            </div>
            <div class="preview__container">
                <div class="preview__img">
                    <a href="post.html"><img class="img__content" src="img/alimentation.jpg" alt="plat sain"></a>
                </div>
                <span class="category__indicator"><a class="category__link" href="category.html">categorie</a></span>
                <h4 class="article__title"><a href="post.html">Titre de l'article</a></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam possimus amet
                        eveniet adipisci
                        suscipit aliquid velit, fuga cum sequi eligendi. Voluptatibus ab sed dolores magni, ratione
                        voluptate blanditiis dolorum sunt!
                        Quas adipisci animi eaque temporibus nisi ex aut ipsam doloribus necessitatibus, id tempora
                        illo
                        rerum nesciunt facilis corrupti...</p>
            </div>
            <div class="preview__container">
                <div class="preview__img">
                    <a href="post.html"><img class="img__content" src="img/alimentation.jpg" alt="plat sain"></a>
                </div>
                <span class="category__indicator"><a class="category__link" href="category.html">categorie</a></span>
                <h4 class="article__title"><a href="post.html">Titre de l'article</a></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam possimus amet
                        eveniet adipisci
                        suscipit aliquid velit, fuga cum sequi eligendi. Voluptatibus ab sed dolores magni, ratione
                        voluptate blanditiis dolorum sunt!
                        Quas adipisci animi eaque temporibus nisi ex aut ipsam doloribus necessitatibus, id tempora
                        illo
                        rerum nesciunt facilis corrupti...</p>
            </div>
            <div class="preview__container">
                <div class="preview__img">
                    <a href="post.html"><img class="img__content" src="img/alimentation.jpg" alt="plat sain"></a>
                </div>
                <span class="category__indicator"><a class="category__link" href="category.html">categorie</a></span>
                <h4 class="article__title"><a href="post.html">Titre de l'article</a></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam possimus amet
                        eveniet adipisci
                        suscipit aliquid velit, fuga cum sequi eligendi. Voluptatibus ab sed dolores magni, ratione
                        voluptate blanditiis dolorum sunt!
                        Quas adipisci animi eaque temporibus nisi ex aut ipsam doloribus necessitatibus, id tempora
                        illo
                        rerum nesciunt facilis corrupti...</p>
            </div>
            <div class="preview__container">
                <div class="preview__img">
                    <a href="post.html"><img class="img__content" src="img/alimentation.jpg" alt="plat sain"></a>
                </div>
                <span class="category__indicator"><a class="category__link" href="category.html">categorie</a></span>
                <h4 class="article__title"><a href="post.html">Titre de l'article</a></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam possimus amet
                        eveniet adipisci
                        suscipit aliquid velit, fuga cum sequi eligendi. Voluptatibus ab sed dolores magni, ratione
                        voluptate blanditiis dolorum sunt!
                        Quas adipisci animi eaque temporibus nisi ex aut ipsam doloribus necessitatibus, id tempora
                        illo
                        rerum nesciunt facilis corrupti...</p>
            </div>
        </section>

        <div>
            <nav>
                <ul class="pagination__nav">
                    <li class="pagination__button">
                        <a class="pagination__link" href="#">1</a>
                    </li>
                    <li class="pagination__button">
                        <a class="pagination__link" href="#">2</a>
                    </li>
                    <li class="pagination__button">
                        <a class="pagination__link" href="#">3</a>
                    </li>
                </ul>
            </nav>
        </div>

    </article>

{% endblock %}
